<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">Loja</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="../index.html">Produtos</a></li>
        <li class="nav-item"><a class="nav-link" href="../pages/carrinho.html">Carrinho</a></li>
        <li class="nav-item"><a class="nav-link" href="../pages/pedidos.html">Pedidos</a></li>
        <li class="nav-item"><a class="nav-link" href="../pages/upload.html">Upload</a></li>
      </ul>
      <ul class="navbar-nav" id="auth-section">
        <li class="nav-item"><a class="nav-link" href="../pages/login.html">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="../pages/cadastro.html">Cadastro</a></li>
      </ul>
    </div>
  </div>
</nav>
<script>
  const token = localStorage.getItem('token');
  const authSection = document.getElementById('auth-section');
  if (token && authSection) {
    authSection.innerHTML = '<li class="nav-item"><a class="nav-link" href="#" id="logout-btn">Logout</a></li>';
  }
  const navEl = document.getElementById('nav-placeholder');
  if (navEl) {
    fetch('../components/navbar.html')
      .then(res => res.text())
      .then(html => navEl.innerHTML = html)
      .then(() => {
        const script = document.createElement('script');
        script.src = '../assets/js/auth.js';
        document.body.appendChild(script);
      });
  }
</script>
